name: Build Ebook with Nix

on:
  # schedule:
  #   - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@main
      
    - name: Setup Magic Nix Cache
      uses: DeterminateSystems/magic-nix-cache-action@main

    - name: Generate Recipe File
      run: |
        nix develop --command python gen_recipe.py
        
        if [ -f "site.recipe" ]; then
          echo "Recipe generated."
        else
          echo "Error: site.recipe not found!"
          exit 1
        fi

    - name: Convert to EPUB
      run: |
        # 移除了 -vv (详细日志)，只保留默认输出
        # 将 --output-profile 改为 kindle_pw (适合高分屏墨水屏)
        nix develop --command xvfb-run ebook-convert site.recipe Jidujiao_Education.epub --output-profile=kindle_pw

    - name: Upload Ebook Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Jidujiao-Ebook
        path: Jidujiao_Education.epub
        retention-days: 5
